$WHITE: #fbfbfb;
$ORANGE: #fbb711;
$GRAY: #a39f9e;
$LIGHT_GRAYISH: #ddcaab;
$GRAYISH_BLACK: #605956;
$BLACK: #1A1513;
$BROWNISH_ORANGE: #B47240;

*{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  width: 100vw;
}
ul {
  list-style-type: none;
}
