$WHITE: #fbfbfb;
$ORANGE: #fbb711;
$GRAY: #a39f9e;
$LIGHT_GRAYISH: #ddcaab;
$GRAYISH_BLACK: #605956;
$BLACK: #1A1513;
$BROWNISH_ORANGE: #B47240;
$NEON_GREEN: rgb(77,233,165);
$RED: rgb(239,38,42);
$YELLOW: rgb(255,237,101);
$LIGHT_GRAY: rgb(248,249,252);
*{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body{
  height: 110vh;
  width: 100vw;
  padding-left: 50px;
  padding-right: 50px;
}

.show,.collapsing{
  padding: 15px;
  box-shadow: 0px 100px 1000px #dbdbdb;
  width: 100%;
}
.btn-outline-dark{
  border-color: black;
}
.btn-dark{
  background-color: black;
  color: white;
}
//nav
nav{
  height: 15vh;
  min-height: 100px;
  .logo {
    img {
      width: 30px;
      height: 30px;
    }
  }
  div{
    background-color: white;
  }
  .nav-item{
    .nav-link{
      color: $BLACK;
    }
    .underline{
      width: inherit;
      height: 3px;
      background-color: $GRAY;
      //padding-right: 8px;
      //padding-left: 8px;
    }
  }
  .current{
    .underline{
      background-color: $NEON_GREEN;
    }
  }
  z-index: 100;
}
//end of nav

//main
  .main{
    margin-top: 30px;
    ul {
      list-style-type: none;
    }
    .item{

      .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .item-description{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-flow: column;
        p{
          font-size: 0.85rem;
        }
        h5{
          font-size: 1rem;
          margin-bottom: 2px;
        }
      }
      .img-container{
        img{
          width: 40px;
          height: 40px;
        }
        width: 60px !important;
        height: 60px !important;
        background-color: $LIGHT_GRAY;
        border-radius: 10px;
      }
      .features-active{
        background-color: $YELLOW !important;
      }
      margin-bottom: 20px;
    }
    .features{
      b{
        color: $RED;
        font-size: 0.85em;
        margin-bottom: 20px;
      }
    }
    .by-industry{
      b{
        color: $RED;
        font-size: 0.85em;
        margin-bottom: 20px;
      }
    }
    box-shadow:  0px 50px 44px -100px rgb(242,242,241);
  }
//end main

//description
  .description{
    padding: 100px 0 0;
    margin: 0;

    .des{
      b{
        color: $ORANGE;
      }
      p{
        color: $GRAY;
      }
    }
    .col-lg-2{
      background-color: rgb(248,249,252);
      border-radius: 30px;
    }
    .button-div{
      background-color: white;
      border-radius: 30px;
      height: 140px;
      width: 140px;
      color: $GRAY;
    }
    .chat-bubble{
      background-color: white;
      border-radius: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .long-mess{
      width: 88%;
      height: 50px;
      border:3px solid rgb(225,225,227);
      margin-top: 10px;
      border-radius: 0 15px 15px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      div{
        width: 90%;
        height: 10px;
        background-color: rgb(225,225,227);
      }
    }
    .short-mess{
      width: 70%;
      height: 50px;
      border:3px solid rgb(225,225,227);
      margin-top: 10px;
      border-radius: 0 15px 15px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      div{
        width: 90%;
        height: 10px;
        background-color: rgb(225,225,227);
      }
    }
    .example-figure{
      background-color: $LIGHT_GRAY;
      width: 100%;
      border-radius: 10px;
    }
  }
//end of description
